
.language-notes-container {
    padding-top: 50px;

}

.language-note {
    height: 60px;
    color: black;
    box-shadow: 4px -4px 5px 0px rgba(0,0,0,0.2);
}
.language-note:last-child {
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 4px -4px 5px 0px rgba(0,0,0,0.2);
}