<div [formGroup]="noteForm" class="note-edit-form">
    <span class="note-edit-form__action-title">Add language note</span>

    <label class="label label--column">
        <span class="input-title">Name:</span> 
        <input type="text" class="input" formControlName="noteValue" />
    </label>

    <div class="note-edit-form__lists">
        <list-view-edit 
            #translations
            [title]="'Translations:'" 
            [listValues]="editNote.translations">
        </list-view-edit>

        <list-view-edit 
            #explanations
            [title]="'Explanations:'" 
            [listValues]="editNote.explanations">
        </list-view-edit>

        <list-view-edit 
            #usages
            [title]="'Usages:'" 
            [listValues]="editNote.usages">
        </list-view-edit>
    </div>

    <button class="btn btn--larger" (click)="saveNote()">Save note</button>
</div>
<p>{{message}}</p>