<h2>Add language note</h2>

<div>New note</div>

<div [formGroup]="noteForm">
    <div>Name: 
        <input type="text" formControlName="noteValue" />
    </div>

    <list-view-edit 
        #translations
        [title]="'Translations:'" 
        [listValues]="editNote.translations">
    </list-view-edit>

    <list-view-edit 
        #explanations
        [title]="'Explanations:'" 
        [listValues]="editNote.explanations">
    </list-view-edit>

    <list-view-edit 
        #usages
        [title]="'Usages:'" 
        [listValues]="editNote.usages">
    </list-view-edit>

    <button (click)="saveNote()">Save note</button>
</div>
<p>{{message}}</p>