
<div class="note-details" *ngIf="note">

    <div class="note-details__title" *ngIf="!hideTitle"> {{note.value}} </div>

    <div class="note-details__properties">
        <span>{{note.type}}</span>
        
        <div class="note-details__translations" *ngIf="note.translations">
            <span *ngFor="let translation of note.translations; let i = index">{{translation}}<span *ngIf="i != note.translations.length - 1">,</span>
            </span>
        </div>
        
        <div class="note-details__explanations" *ngIf="note.explanations">
            explanations:
            <span *ngIf="note.explanations.length == 1">{{note.explanations[0]}}</span>
            <ul *ngIf="note.explanations.length > 1">
                <li *ngFor="let explanation of note.explanations">{{explanation}}</li>
            </ul>
        </div>

        <div class="note-details__usages" *ngIf="note.usages">
            usages:
            <span *ngIf="note.usages.length == 1">{{note.usages[0]}}</span>
            <ul *ngIf="note.usages.length > 1">
                <li *ngFor="let usage of note.usages">{{usage}}</li>
            </ul>
        </div>
    </div>
</div>