
<section class="language-notes">
    <section *ngIf="errorMessage">
        {{errorMessage}}
    </section>
    <div>
        <a routerLink="/new-note" routerLinkActive="active">Create new note</a>
    </div>

    <paginator [totalCountSubscription]="totalNotesChange" 
                [itemsPerPage]="4" 
                (pageChange)="getLanguageNotesPaginated($event)"
                [currentPage]="currentPage">
    </paginator>

    <div class='language-notes__list'>       
        <div *ngFor="let note of languageNotesPaginated" class="language-notes__list__element"
            (click)="openDetailsIfMobile(note)">
            <a class="view-complete-link" (click)="openDetails(note)">View complete</a>
            <language-note-detail [note]="note"> </language-note-detail>            
        </div> 
    </div>

    <paginator [totalCountSubscription]="totalNotesChange" 
                [itemsPerPage]="4" 
                (pageChange)="getLanguageNotesPaginated($event)"
                [currentPage]="currentPage">
    </paginator>

    <modal #noteDetailModal class="language-notes__details-modal">
        <modal-header [show-close]="true">
            {{selectedNote ? selectedNote.value : ""}}
        </modal-header>
        <modal-body>
            <language-note-detail [note]="selectedNote" hideTitle="true"> </language-note-detail>
        </modal-body>
        <!--<modal-footer [show-default-buttons]="true"></modal-footer>-->
    </modal>
</section>
