
<section class="notes">
    <section *ngIf="errorMessage">
        {{errorMessage}}
    </section>

    <paginator [totalCountSubscription]="totalNotesChange" 
                [itemsPerPage]="4" 
                (pageChange)="getLanguageNotesPaginated($event)"
                [currentPage]="currentPage">
    </paginator>

    <div class='notes__list'>       
        <div *ngFor="let note of languageNotesPaginated" 
            class="notes__list__element"
            (click)="openDetailsIfMobile(note)">

            <language-note-detail class="note-details--list" [note]="note"> </language-note-detail> 

            <div class="note-details__action-list">
                <a class="hide-mobile" (click)="openDetails(note)">View</a>
                <a (click)="onEditNote(note)">
                    <span class="hide-mobile">Edit</span>
                    <svg-icon class="hide-non-mobile" name="edit"></svg-icon>
                </a>
                <a (click)="onEditNote(note)">
                    <span class="hide-mobile">Delete</span>
                    <svg-icon class="hide-non-mobile" name="delete"></svg-icon>
                </a>
            </div>

        </div> 
    </div>

    <paginator [totalCountSubscription]="totalNotesChange" 
                [itemsPerPage]="4" 
                (pageChange)="getLanguageNotesPaginated($event)"
                [currentPage]="currentPage">
    </paginator>

    <modal #noteDetailModal class="notes__details-modal">
        <modal-header [show-close]="true">
            {{selectedNote ? selectedNote.value : ""}}
        </modal-header>
        <modal-body>
            <language-note-detail [note]="selectedNote" hideTitle="true"> </language-note-detail>
        </modal-body>
        <!--<modal-footer [show-default-buttons]="true"></modal-footer>-->
    </modal>
</section>
