<header class="page-header">
    <div class="page-header__logo">
        <h1>{{title}}</h1>
    </div>
    <nav class="page-header__nav">
        <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
        <a routerLink="/language-notes" routerLinkActive="active">Language notes</a>
    </nav>
   <!--  <div>
        search input here 
    </div>-->
</header>

<main class="page-content">
    <article>
        <router-outlet></router-outlet>
    </article>
</main>
