.label {
    display: flex;
    align-items: center;
    span {
        margin-right: calc-rhythm-distance(1, $small-vertical-space-unit);
    }
}

.label--default {
    height: calc-rhythm-distance(2);
}

.label--small {
    height: calc-rhythm-distance(5/2, $small-vertical-space-unit);
}