
.c-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: -2px;
    border-bottom: 1px #ddd solid;

    padding-left: calc-rhythm-distance(2);
    padding-top: calc-rhythm-distance(1/2);

    @include respond-to("phone") {
        font-size: type-setting(2, $mobile-font-size);
    }
}

.header-title {
    font-family: 'modum';
    font-weight: bold;
}
.c-header__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    a { margin-left: 4px; }
    @include respond-to("phone") {
        display: flex;
        flex-direction: column;
    }
}