
.c-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: -2px;
    border-bottom: 1px #ddd solid;

    padding-left: calc-margin(2);
    padding-top: calc-margin(1/2);
}

.header-title {
    font-family: 'modum';
    font-weight: bold;
}
.c-header__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    a { margin-left: 4px; }
}