
.c-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: -1px;
    border-bottom: 1px #ddd solid;

    padding: calc-rhythm-distance(1/2) calc-rhythm-distance(2);
}

.header-title {
    font-family: 'modum';
    font-weight: bold;
    margin: 0 0 calc-rhythm-distance(1/4, $small-vertical-space-unit) 0;
    @extend .h1-like;
}
.c-header__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    a { margin-left: calc-rhythm-distance(3/2, $small-vertical-space-unit); }
}


@include respond-to("phone") {
    .c-header { 
        padding-left: calc-rhythm-distance(3/2, $small-vertical-space-unit);
    }
    .header-title { 
        @include type-setting(5, 0.75 * $mobile-font-size);
        letter-spacing: -2px;
    }
}