$list-border: 1.5px solid rgba(#00ACC1, 0.25);

.notes { 
    padding-top: calc-rhythm-distance(1);  
    max-width: 500px;
    @include respond-to("phone") {
        @include type-setting(1, $mobile-font-size);
    }
}

.notes__list {
    padding: calc-rhythm-distance(1) 0;
}

.notes__list__element {
    margin-top: -0.5px;
    height: calc-rhythm-distance(3.5);
    overflow:hidden;
    text-overflow: ellipsis;
    content: "";
    position: relative;
    border-top: $list-border;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond-to("phone") {

    }
}
.notes__list__element:last-child {
   border-bottom: $list-border;
}