$list-border: 1px solid rgba(#00ACC1, 0.25);

.notes {   
    max-width: 500px;
    @include respond-to("phone") {
        width: 100%;
    }
}

.notes__list {
    padding: calc-margin(1);
    padding-left: 0;
}

.notes__list__element {
    margin-top: -0.5px;
    height: calc-height(3);

    overflow:hidden;
    text-overflow: ellipsis;
    content: "";
    position: relative;
    border-top: $list-border;

    display: flex;
    justify-content: space-between;

    @include respond-to("phone") {
        //font-size: 1.2em;
        //height: 80px;

        .view-complete-link { 
            display: none;
        }
    }
}
.notes__list__element:last-child {
   border-bottom: $list-border;
}