
language-note-edit {
    @include type-setting(0, 0.8em);

    @include respond-to("phone") {
          @include type-setting(1);
     }
}

.note-edit-form {
    padding-top: calc-rhythm-distance(1/2);
}

.note-edit-form__action-title {
    @extend .h3-like;
    @include respond-to("phone") {
        @include type-setting(2, $mobile-font-size);
    }
}

.note-edit-form__lists {
    display: flex;
    @include respond-to(">phone") {
        list-view-edit {
            padding-right: calc-rhythm-distance(2, $small-vertical-space-unit);
        }
    }

     @include respond-to("phone") {
         flex-direction: column;
     }
}