
.notes__details-modal {
    .modal-content {
        width: 60%;
    }
}

.note-details__properties {
    color: rgba(black, 0.7);
    @extend .small-font;
}

.note-details__action-list {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    @extend .small-font;
    span { cursor: pointer; }
}

 .note-details--list  { 
     display: block;
     .note-details { 
         padding-top: calc-margin(1/2); 
    }
     .note-details__properties {
         height: calc-height(1); 
         overflow: hidden;
     }
}