
.list-view-edit__control {
    @include respond-to("phone") {
        display: flex;
        justify-content: space-between;
    }

    margin-bottom: calc-rhythm-distance(1, $small-vertical-space-unit);
    &:nth-child(odd) {
        //margin-bottom: calc-rhythm-distance(1, $small-vertical-space-unit, 0.5px);
    }
}

.list-view-edit__control__input {
    flex: 1 1 auto;
}

.list-view-edit__remove-btn {
    cursor: pointer;
    padding-left: calc-rhythm-distance(1, $small-vertical-space-unit);
}

.list-view-edit__add-btn {
    margin-left: auto;
    display: block;
    margin-right: 0;
}

.list-view-edit__title {
    @include respond-to("phone") {
        display: flex;
        justify-content: space-between;
    }
}