
.list-view-edit {
    margin-bottom: calc-rhythm-distance(2, $small-vertical-space-unit);  

     @include respond-to("phone") {
         margin-bottom: calc-rhythm-distance(1/2, $small-vertical-space-unit);
     }  
}

.list-view-edit__container {
    display: flex;
    flex-direction: column;

    margin-bottom: calc-rhythm-distance(1, $small-vertical-space-unit);
    padding-right: calc-rhythm-distance(2, $small-vertical-space-unit);

     @include respond-to("phone") {
         flex-direction: row;
     }
}

.list-view-edit__container__controls {
    display: flex;
    flex-flow: column wrap;

    .label:nth-child(odd) {
        margin-bottom: -0.5px;
    }
}

.list-view-edit__remove-btn {
    margin-left: calc-rhythm-distance(1/2, $small-vertical-space-unit);
    padding: calc-rhythm-distance(1/2, $small-vertical-space-unit);
    cursor: pointer;
    display: block;
}

.list-view-edit__add-btn {
    margin-right: auto;
    display: block;
    margin-right: 0;

     @include respond-to("phone") {
          margin-right: calc-rhythm-distance(2, $small-vertical-space-unit);;
          margin-left: auto;
          margin-top: -calc-rhythm-distance(4, $small-vertical-space-unit)
     }
}