/* h1 - 60px */
/*
h1 {
  font-size: 4.2857em; 
  line-height: 1.2000em; 
  margin-top: 0.3000em;  
  margin-bottom: 0.0000em;
  @include respond-to("phone") {
      font-size: 3em;
  }
}

h2 {
  font-size: 2.1429em; 
  line-height: 1.2000em; 
  margin-top: 0.6000em;  
  margin-bottom: 0.0000em;
}

h3 {
  font-size: 1.7143em; 
  line-height: 1.5000em; 
  margin-top: 0.7500em; 
  margin-bottom: 0.0000em;
}*/