$default-vertical-space-unit: 1.5em;
$small-vertical-space-unit: 1em;

@function calc-rhythm-distance(
    $factor, 
    $vertical-space-unit: $default-vertical-space-unit, 
    $shift: 0px) 
{
    @return calc(#{$factor} * #{$vertical-space-unit} - #{$shift});
}