
.page-content {
    //padding-top: calc-rhythm-distance(3/2);
    padding-left: calc-rhythm-distance(2);
     @include respond-to("phone") {
      padding: 0 calc-rhythm-distance(3/2, $small-vertical-space-unit);
    }
}

.hide-mobile {
     @include respond-to("phone") {
         display: none!important;
    }
}
.hide-non-mobile {
     @include respond-to(">phone") {
         display: none!important;
    }
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}