
<div [formGroup]="formGroup" class="list-view-edit">
    <div formArrayName="list" class="list-view-edit__container">
        <label class="label label--small list-view-edit__container__title">{{title}}</label>
        <div class="list-view-edit__container__controls">
            <label class="label label--small" *ngFor="let listFormControl of formGroup.controls.list.controls; let i=index">
                <input class="input input--default" type="text" [formControlName]="i">

                <span class="list-view-edit__remove-btn" (click)="removeListElement(i)">
                    <svg-icon name="remove"></svg-icon>
                </span>
            </label>
        </div>
    </div>
    <button class="btn btn--larger btn--rounded list-view-edit__add-btn" (click)="addListElement()">add</button>
</div>